<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://de.balvi.ce/menu.application" insertBefore="administration">
        <item screen="ce_User.browse" caption="msg://de.balvi.ce.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="ce_Customer.browse" caption="msg://de.balvi.ce.screen.customer/customerBrowse.menu"/>
        <item screen="ce_Order.browse" caption="msg://de.balvi.ce.screen.order/orderBrowse.menu"/>
    </menu>

</menu-config>